<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
    <title>Floorwork</title>
    <link th:href="@{/css/courses.css}" rel="stylesheet"/>

</head>
<body class="font-oswald">
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- SHOWCASE -->
    <div th:replace="fragments/courses :: showcase(courseName=${courseModel.name}, imageURL=${courseModel.showcaseImageURL}, motivatorText=${courseModel.showcaseMotivatorText})"></div>

    <!-- TEACHERS -->
    <div th:replace="fragments/courses :: teachers"></div>


    <!-- PACKAGES -->
    <div th:replace="fragments/courses :: packages"></div>

    <div th:replace="fragments/footer"></div>

    <!-- Video Course modal -->
    <div class="modal fade" id="course-video" tabindex="-1" role="dialog" aria-labelledby="video" aria-hidden="true">
        <div th:replace="fragments/utilities :: videoModal(title=null, url=${courseModel.showcaseVideoURL})"></div>
    </div>

</body>
</html>