<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- da approfondire -->
        <meta name="HandheldFriendly" content="true"> <!-- da approfondire -->

        <meta name="author" content="Marco Faccani"/>
        <meta name="keywords" content="dhalsim, dhart academy, bboy, dance, hiphop, perugia"/>

        <!-- Stylesheets -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/common.css}" rel="stylesheet"/>
        <link th:href="@{/css/font.css}" rel="stylesheet"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f567dcb7ba.js" crossorigin="anonymous"></script> <!--TODO: mettere localmente -->

        <script type="text/javascript" th:src="@{/js/lazysizes.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
    </th:block>

</body>
</html>