<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="reviews(author, message)" class="carousel-item" th:classappend="${iterStat.index}==1 ? active : '' ">
    <div class="w-75 border border-light rounded p-4 mx-auto mb-3">
        <div th:replace="fragments/utilities :: stars"></div>
        <p th:text="${message}" class="mt-2"></p>
        <h6 th:text="${author}"></h6>
    </div>
</div>

<div th:fragment="stars">
    <div class="d-flex mb-4"> <!-- starts -->
        <span class="text-warning ml-auto mr-2">
          <i class="star fas fa-star"></i>
        </span>
        <span class="text-warning mr-2">
          <i class="star fas fa-star"></i>
        </span>
        <span class="text-warning mr-2">
          <i class="star fas fa-star"></i>
        </span>
        <span class="text-warning mr-2">
          <i class="star fas fa-star"></i>
        </span>
        <span class="text-warning mr-auto">
          <i class="star fas fa-star"></i>
        </span>
    </div> <!-- end stars-->
</div>

</body>
</html>