.bg-contact {
    background-image: url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen/v1602164211/dhart-academy/city_hpfio5.jpg);
}

#email-form .col-lg-5, #email-form .col-sm-10, #email-form .col-lg-12  {
    margin-bottom: 1rem;
}

.invalid-feedback {
    text-align: left;
}

.email-feedback {
    color: white;
    padding: 0.5rem;
    margin: 1.5rem auto;
    width: 50%;
    border-radius: .25rem;
}

