.btn-download-calendar {
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}

#packages .card-body .list-group .list-group-item {
    background-color: rgba(255,255,255,0.0); /* make list-group background fully transparent */
}

#packages .card-body {
    position: relative; /* required for positioning the dark overlay */
    background-position: center !important;
    background-size: cover !important;
}

#packages .card-body::before {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #showcase .display-3 { font-size: 2.5rem; font-weight: 500;}
}
