.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-piazzolla {
    font-family: 'Piazzolla', serif;
}

.font-objective {
    font-family: 'Objective', sans-serif;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../fonts/poppins/poppins-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins/poppins-v13-latin-regular.woff') format('woff');
}

/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/poppins/poppins-v13-latin-700.woff2') format('woff2'),
    url('../fonts/poppins/poppins-v13-latin-700.woff') format('woff');
}*/

/*@font-face {
    font-family: 'Objective';
    font-style: normal;
    font-weight: 400;
    src: local('Objective Regular'), local('Objective-Regular'),
    url('../fonts/objective/Objective-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Objective';
    font-style: normal;
    font-weight: 500;
    src: local('Objective Regular'), local('Objective-Medium'),
    url('../fonts/objective/Objective-Medium.woff2') format('woff2');
}*/

@font-face {
    font-family: 'Objective';
    font-style: normal;
    font-weight: 600;
    src: local('Objective Regular'), local('Objective-Bold'),
    url('../fonts/objective/Objective-Bold.woff2') format('woff2');
}