#home #home-hero p { font-size: 1.3rem; }
#home #showcase .container { position: relative; } /* required for dark overlay not effecting the text */

.bg-image-showcase::before { /* dark overlay */
    background-color: rgba(0, 0, 0, 0.25);
}

#home-showcase-carousel .carousel-inner::before { /* dark overlay */
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#home-showcase-carousel .carousel-item {
    align-items: center; /* for content */
    min-height: 100vh;
    background-size: cover;
}

#home-showcase-carousel .carousel-caption {
    bottom: 200px;
    text-shadow: 10px 1px 20px rgba(2, 2, 2, 1);
}



.slide-show-image-1 {
    background-image: url('https://res.cloudinary.com/facca/image/upload/v1603991800/dhart-academy/photo5823177180757210050_xkyay9.jpg');
    background-size: cover !important;
    background-position: center center !important;
}
.slide-show-image-2 {
    background-image: url('https://res.cloudinary.com/facca/image/upload/v1603992160/dhart-academy/photo5823177180757210068_wuq5re.jpg');
    background-size: cover !important;
    background-position: center center !important;
}
.slide-show-image-3 {
    background-image: url('https://res.cloudinary.com/facca/image/upload/v1603991801/dhart-academy/photo5823177180757210045_hoptf0.jpg');
    background-size: cover !important;
    background-position: center center !important;
}


#home #home-dhart-fam { border-bottom: 2px solid black; }


.bg-applejack {
    background-image: url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen/v1601732687/dhart-academy/applejack_jfhle2.jpg);
    /*background-image:
        -webkit-image-set(
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_256/v1601732687/dhart-academy/applejack_jfhle2.jpg) 1x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_512/v1601732687/dhart-academy/applejack_jfhle2.jpg) 2x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_768/v1601732687/dhart-academy/applejack_jfhle2.jpg) 3x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_1024/v1601732687/dhart-academy/applejack_jfhle2.jpg) 4x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_1280/v1601732687/dhart-academy/applejack_jfhle2.jpg) 5x
        );
    background-image:
        image-set(
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_256/v1601732687/dhart-academy/applejack_jfhle2.jpg) 1x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_512/v1601732687/dhart-academy/applejack_jfhle2.jpg) 2x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_768/v1601732687/dhart-academy/applejack_jfhle2.jpg) 3x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_1024/v1601732687/dhart-academy/applejack_jfhle2.jpg) 4x,
                url(https://res.cloudinary.com/facca/image/upload/f_auto,q_auto,e_sharpen,w_1280/v1601732687/dhart-academy/applejack_jfhle2.jpg) 5x
        );*/
}


.oblique-line-white::before{
    content: "";
    z-index: 2;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    display: block;
    border-color: rgba(0, 0, 0, 0) #fff;
    border-width: 0 0 10vw calc(100vw - 17px);
    border-style: solid;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    /* center home-hero */
    #home #home-hero .col-md-10, #home #home-hero .col-md-10 h2, #home #home-hero .col-md-10 p {
        margin: 0 auto;
        text-align: center;
    }

    #home #home-hero #second-hero-image { order: 0; } /* don't force image to be shown before text */


    #home-dhart-fam .col-lg-6:nth-child(2) { display: none } /* hide second image dhart-family */

    #home-dhart-since { margin-bottom: 1.5rem; margin-top: 1.5rem} /* add space to dhart-since-logo */
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {  }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #home-showcase-carousel .carousel-caption h1 {
        font-size: 2.2rem;
    }
}