<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
    <title>Dhart Academy</title>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body id="home">

    <div th:replace="fragments/navbar :: navbar"></div>

    <div id="home-showcase-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item slide-show-image-1 active">
                <div class="carousel-caption">
                    <h1 class="display-4 text-uppercase">Esprimi te stesso!</h1>
                </div>
            </div>
            <div class="carousel-item slide-show-image-2">
                <div class="carousel-caption">
                    <h1 class="display-4 text-uppercase">Immergiti nelle arti urbane!</h1>
                </div>
            </div>
            <div class="carousel-item slide-show-image-3">
                <div class="carousel-caption">
                    <h1 class="display-4 text-uppercase">Entra a far parte della nostra community!</h1>
                </div>
            </div>
        </div>
    </div>

    <section id="home-hero" class="mb-7 pt-7">
        <div class="container text-center">
            <h2 class="display-4 mb-6">ESPERIENZE</h2>

            <div class="row mb-7"> <!-- first hero row -->
                <div class="col-lg-6 col-md-10 my-auto">
                    <h2>Claudio <span class="text-primary">Baglioni</span></h2>
                    <p>Il 29 Luglio 2019 Alessio Venditti, fondatore della Dhart-Academy, viene selezionato dal noto coreografo
                        Giuliano Peparini per formare il corpo di ballo per la tournée "50 Al Centro" di Claudio Baglioni.</p>
                    <div class="mb-4">
                        <a id="btn-modal-baglioni" href="#" class="btn btn-gradient-blue text-uppercase mt-1" data-toggle="modal" data-target="#modal-video">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                            </svg>
                            <span class="align-middle">Guarda il video!</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 ml-auto">
                    <img
                        data-sizes="auto"
                        loading="lazy"
                        th:attr="srcset=|
                            @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'} 256w,
                            @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'} 512w,
                            @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'} 768w,
                            @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'} 1024w,
                            @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'} 1280w|"
                        th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812568/dhart-academy/baglioni-f2f_mmygma.jpg'}"
                        class="lazyload img-fluid rounded box-shadow-black-2" alt="welcoming image"
                    />
                </div>
            </div> <!-- end first hero row -->

            <div class="row"> <!-- second hero row -->
                <div class="col-lg-6 col-md-10 my-auto ml-auto">
                    <h2>+30 Premi e Riconoscimenti <span class="text-primary">Internazionali</span></h2>
                    <p>Olanda, Inghilterra, Danimarca, California, Sacramento, San Francisco, Seattle, Francia, New York,
                        Polonia, Germania, Canada: sono solo alcuni dei paesi dove il nostro fondatore ha partecipato
                        aggiudicandosi il primo posto a competizioni di livello nazionale e internazionale</p>
                    <a id="btn-awards" href="#" class="btn btn-gradient-blue text-uppercase mt-1 mb-4" data-toggle="modal" data-target="#modal-awards">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                            <circle cx="3.5" cy="5.5" r=".5"/>
                            <circle cx="3.5" cy="8" r=".5"/>
                            <circle cx="3.5" cy="10.5" r=".5"/>
                        </svg>
                        <span class="align-middle">Esplora i nostri successi</span>
                    </a>
                </div>
                <div id="second-hero-image" class="col-lg-6 col-md-10 order-first">
                    <img
                        data-sizes="auto"
                        loading="lazy"
                        th:attr="srcset=|
                        @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'} 256w,
                        @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'} 512w,
                        @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'} 768w,
                        @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'} 1024w,
                        @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'} 1280w|"
                        th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812925/dhart-academy/baglioni-2_jd5n3l.jpg'}"
                        class="lazyload img-fluid rounded box-shadow-black-2" alt="welcoming image"
                    />
                </div>
            </div> <!-- end second hero row -->
        </div>
    </section>


    <section id="home-gym-structure" class="my-6">
        <div class="container text-center">
            <h2 class="display-4 text-primary text-uppercase pt-5 pb-3">Familiarizza con la struttura</h2>
            <p class="col-lg-8 mx-auto mb-5" style="font-size: 1.4rem">Dhart Academy è di forte stampo urbano ma all’interno trovano spazio anche la danza, il teatro,
                laboratori artistici di Djing, Graffiti e molto altro ancora!</p>

            <!-- carousel -->
            <div id="homeStructureCarousel" class="carousel slide box-shadow-black-1" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#homeStructureCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#homeStructureCarousel" data-slide-to="1"></li>
                    <li data-target="#homeStructureCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 600px">
                        <img data-sizes="auto"
                             loading="lazy"
                             th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'} 1280w|"
                             th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601747122/dhart-academy/struttura-sala_gurc8f.jpg'}"
                             class="lazyload d-block w-100" alt="First slide"
                        />
                    </div>
                    <div class="carousel-item" style="max-height: 600px">
                        <img data-sizes="auto"
                             loading="lazy"
                             th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'} 1280w|"
                             th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601747133/dhart-academy/struttura-reception_bqxxfe.jpg'}"
                             class="lazyload d-block w-100" alt="Second slide"
                        />
                    </div>
                    <div class="carousel-item" style="max-height: 600px">
                        <img data-sizes="auto"
                             loading="lazy"
                             th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'} 1280w|"
                             th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601747130/dhart-academy/struttura-sala-2_nfjwyp.jpg'}"
                             class="lazyload d-block w-100" alt="Third slide"
                        />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#homeStructureCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Indietro</span>
                </a>
                <a class="carousel-control-next" href="#homeStructureCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Avanti</span>
                </a>
            </div> <!-- end carousel -->
        </div>
    </section>

    <!-- oblique line -->
    <section>
        <div style="position: relative;">
            <div class="oblique-line-white"></div>
        </div>
    </section>

    <!-- TESTIMONIALS -->
    <section id="home-clients-reviews" class="bg-black text-white pt-8 pb-5 mt-6">
        <div class="container text-center">
            <h2 class="display-4 text-uppercase">Le recensioni dei nostri clienti</h2>
            <p class="lead" style="font-size: 1.5rem">Ascolta le opinioni dei nostri iscritti</p>

            <!-- carousel reviews -->
            <div id="homeCarouselReviews" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <th:block th:each="i: ${#numbers.sequence(0, reviews.size() - 1)}">
                        <li data-target="#homeCarouselReviews" data-slide-to="${i}"
                            th:classappend="${i}==0 ? active : '' "
                        ></li>
                    </th:block>
                </ol>
                <div class="carousel-inner mx-auto" style="max-width: 900px;">
                    <th:block th:each="review, iterStat: ${reviews}">
                        <div th:replace="fragments/utilities ::
                        reviews(author=${review.author},message=${review.review})"></div>
                    </th:block>
                </div>
                <a class="carousel-control-prev" href="#homeCarouselReviews" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Indietro</span>
                </a>
                <a class="carousel-control-next" href="#homeCarouselReviews" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Avanti</span>
                </a>
            </div> <!-- end carousel reviews -->
        </div>
    </section>

    <!-- DHART FAMILY -->
    <section id="home-dhart-fam">
        <div class="row">
            <div class="col-lg-6 p-0">
                <img data-sizes="auto"
                     loading="lazy"
                     th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'} 1280w|"
                     th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812606/dhart-academy/dhart-fam_sjbwil.jpg'}"
                     class="lazyload d-block w-100" alt="Third slide"
                />
            </div>
            <div class="col-lg-6 p-0">
                <img data-sizes="auto"
                     loading="lazy"
                     th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'} 1280w|"
                     th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812877/dhart-academy/dhart-fam2_iljqjy.jpg'}"
                     class="lazyload d-block w-100" alt="Third slide"
                />
            </div>
        </div>
    </section>

    <!-- CSEN and CONI LOGO -->
    <section id="home-csen-coni-logos" class="py-5">
        <div class="row text-center">
            <div class="col-lg-4 m-auto">
                <a href="https://www.csen.it/" target="_blank" rel="noopener noreferrer">
                    <img data-sizes="auto"
                         loading="lazy"
                         th:attr="srcset=|
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812908/dhart-academy/csen_gssgxo.jpg'} 256w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812908/dhart-academy/csen_gssgxo.jpg'} 512w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812908/dhart-academy/csen_gssgxo.jpg'} 768w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812908/dhart-academy/csen_gssgxo.jpg'} 1024w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812908/dhart-academy/csen_gssgxo.jpg'} 1280w|"
                         th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812908/dhart-academy/csen_gssgxo.jpg'}"
                         class="lazyload img-fluid" alt="Third slide" style="max-height: 150px;"
                    />
                </a>
            </div>
            <div class="col-lg-4 m-auto">
                <img id="home-dhart-since" data-sizes="auto"
                     loading="lazy"
                     th:attr="srcset=|
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'} 256w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'} 512w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'} 768w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'} 1024w,
                                @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'} 1280w|"
                     th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1601812695/dhart-academy/Since2015dhart_bzrayy.jpg'}"
                     class="lazyload img-fluid" alt="Third slide"
                />
            </div>
            <div class="col-lg-4 m-auto">
                <a href="https://www.coni.it/it/" target="_blank" rel="noopener noreferrer">
                    <img data-sizes="auto"
                         loading="lazy"
                         th:attr="srcset=|
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_256/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'} 256w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_512/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'} 512w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_768/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'} 768w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1024/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'} 1024w,
                                    @{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_1280/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'} 1280w|"
                         th:src="@{${cloudinaryBaseUrl} + ${cloudinaryTransfCommon} + 'w_auto' + '/v1602008222/dhart-academy/logo-coni_jwx7pa.svg'}"
                         class="lazyload img-fluid" alt="Third slide" style="max-height: 150px;"
                    />
                </a>
            </div>
        </div>
    </section>

    <!-- Video baglioni modal -->
    <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="video" aria-hidden="true">
        <div th:replace="fragments/utilities :: videoModal(title=${modalTitle}, url=${modalYoutubeURL})"></div>
    </div>

    <!-- Awards modal -->
    <div class="modal fade" id="modal-awards" tabindex="-1" role="dialog" aria-labelledby="awards" aria-hidden="true">
        <div th:replace="fragments/utilities :: awards"></div>
    </div>

    <div th:replace="fragments/footer"></div>


    <script>
        $('#home-showcase-carousel.carousel').carousel({
            interval: 4000,
            wrap: true,
            pause: false
        })
    </script>

</body>
</html>